table {
    width: 100%;
	padding: 5px;
}

th {
    font-size: 12px;
    text-align: right;
    font-family: Verdana, Arial;
	padding: 5px;
    width: 50px;
}

td {
    font-size: 14px;
    text-align: left;
    font-family: Verdana, Arial;
	padding: 5px;
    width: 100%;
}

