<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>S. D. R. Panel</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/css/style.css" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript">
<!--
function delayer(){
    window.location = "/"
}
//-->
</script>
</head>
<body onLoad="setTimeout('delayer()', 2000)">
<div id="macro">
<div id="header">
	<div id="logo">
		<h1><a href="/">S.D.R. Panel</a></h1>
	</div>
</div>
<!-- end #header -->
<div id="wrapper">
<div id="page">
	<div id="content">
		<div class="post">
			<h1 class="title">Salida</h1>
			<div class="entry">
<div id='login'>
<p align="center">Ahora estás desconectado...</p>
</div>

			</div>
		</div>
	</div>
	<!-- end #content -->
	<div style="clear: both;">&nbsp;</div>
</div>
</div>
</div>
<!-- end #page -->
<div id="footer">
	<p>En tu cara desde <a href="http://www.sambadarua.org/">Samba Da Rua</a>.</p>
</div>
<!-- end #footer -->
</body>
</html>
