<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>S. D. R. Panel</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/css/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="macro">
<div id="header">
	<div id="logo">
		<h1><a href="/">S.D.R. Panel</a></h1>
	</div>
</div>
<!-- end #header -->
<div id="wrapper">
<div id="page">
	<div id="content">
		<div class="post">
			<h1 class="title">Entrar</h1>
			<div class="entry">
<div id='login'>
{% if form.errors %}
<p class='error' align='center'>El nombre de usuario y/o la contraseña son incorrectos.</p>
{% endif %}

<form method="post" action="{% url 'login' %}">{% csrf_token %}
<p align="center">{{ form.username.label_tag }}<br />{{ form.username }}</p>
<p align="center">{{ form.password.label_tag }}<br />{{ form.password }}</p>
<p align="center"><input type="submit" value="Entrar" />
<input type="hidden" name="next" value="{{ next }}" /></p>
<p align="center"><a href="/password_reset">Olvidé mi contraseña</a></p>
</form>
</div>

			</div>
		</div>
	</div>
	<!-- end #content -->
	<div style="clear: both;">&nbsp;</div>
</div>
</div>
</div>
<!-- end #page -->
<div id="footer">
	<p>En tu cara desde <a href="http://www.sambadarua.org/">Samba Da Rua</a>.</p>
</div>
<!-- end #footer -->
</body>
</html>
