{% extends "base_unauth.html" %}
{% load i18n %}

{% block content %}

{% if validlink %}

<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action="" method="post">{% csrf_token %}
{{ form.new_password1.errors }}
<p align="center">{% trans 'New password:' %}<br />{{ form.new_password1 }}</p>
{{ form.new_password2.errors }}
<p align="center">{% trans 'Confirm password:' %}<br />{{ form.new_password2 }}</p>
<p align="center"><input type="submit" value="{% trans 'Change my password' %}" /></p>
</form>

{% else %}

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}
