{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}">
<head>
<title>{% block title %} SDR Panel{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="/media/css/global.css" />
<link rel="stylesheet" type="text/css" href="/media/css/layout.css" />

</head>

<body>
<!-- Container -->
<div id="container">

    {% if not is_popup %}
    <!-- Header -->
    <div id="header">
        <div id="branding">
        {% block branding %}<h1 id="site-name">S</h1>
{% endblock %}
        </div>
        {% if not user.is_anonymous %}
        <div id="user-tools">{% trans 'Welcome,' %} <strong>{% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}</strong>. {% block userlinks %} / <a href="/admin/password_change/"> Cambio de contraseña </a> / <a href="/accounts/logout/">{% trans 'Log out' %}</a>  {% endblock %}</div>
        {% endif %}
        {% block nav-global %}{% endblock %}
    </div>
    {% block breadcrumbs %}<div class="breadcrumbs"><a href="/">INICIO</a> - <a href="/gestion/proyecto/">GESTIÓN</a> - <a href="/vuln/index/">VULNERABILIDADES</a>  - <a href="/ocurrencia/informes/">INFORMES</a>{% if user.is_staff %} - <a href="/ocurrencia/index/">OCURRENCIAS</a> - <a href="/proyecto/index/">PROYECTOS UMSS</a> - <a href="/eventos/index/">EVENTOS</a>{% endif %} -  <a href="/ocurrencia/ayuda/?full">AYUDA</a> - <a href="/trac"> TODO (BUGS/MEJORAS)</a></div> {% endblock %}    <!-- END Header -->
    {% endif %}

    <!-- Content -->
    <div id="content"> <!--class="{% block coltype %}colSM{% endblock %}"-->
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h4>{{ title }}</h4>{% endif %}{% endblock %}
        {% block sidebar %}{% endblock %}
        {% block content %}{{ content }}{% endblock %}

        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->
</body>
</html>
