<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ actuacion.titulo }}</title>
        <style type="text/css">
        body {margin: 0; padding: 0; min-width: 100%!important;}
        .content {width: 100%; max-width: 600px;}  
        </style>
    </head>
    <body>
        <p>Weeyyy!</p>

        <p>Se ha añadido la siguiente actuación al Panel Sambero:</p>
        <h2>{{ actuacion.titulo }}</h2>
        <p><b>Lugar:</b> {{ actuacion.lugar }}<br /><b>Hora:</b> {{ actuacion.fecha }}</p>
        <p>{{ actuacion.descripcion|linebreaksbr }}</p>
        <br />
        <p>Puedes confirmar que vas a ir (o no), o si vas a poder llevar coche, en el siguiente enlace:<br /><a href="https://panel.sambadarua.org/#id{{ actuacion.id }}">https://panel.sambadarua.org/#id{{ actuacion.id }}</a></p>
        <br /><hr /><br />
        <p>Si quieres darte de baja de las notificaciones de correo, puedes desactivarlas en:<br /><a href="https://panel.sambadarua.org/cambio_datos/">https://panel.sambadarua.org/cambio_datos/</a><p>

        <br /><hr /><br />
        <p>Mensaje enviado automagicamente desde el Panel Sambero.</p>
    </body>
</html>
